
.tile {
	max-width: 140px;
	margin: 2px;
	padding: 2px;
	border: 1px;
	float: left;
	display: inline-block;
	border-radius: 5px;
	background-color: #a82;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
}

img {
	max-width: 100%;
}

.tile:hover {
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.2, 1.2);
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.tile:hover::after {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}

.container {
	position: absolute;
	left: 5%;
	width: 90%;
	margin: 1px;
	text-align: left;
}

#header {
	position:top center;
	text-align:center;
}

.test {
	display: none;
}

.test:hover {
	z-index: 100;
	display: block;
}	
