
.tile {
	max-width: 140px;
	margin: 2px;
	padding: 2px;
	border: 1px;
	float: left;
}

.container {
	position: absolute;
	left: 5%;
	width: 90%;
	margin: 1px;
	text-align: left;
}

#header {
	position:top center;
	text-align:center;
}