
h1 {
	font-size: 2.0em;
	font-family: Impact, Charcoal, sans-serif;
	font-weight: normal;
	color: yellow;
	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: yellow;
}

#header {
	position:top center;
	text-align:center;
	background-image: url("imgs/pine.jpg");
    background-repeat: repeat-x;
}

#nav {
	position:left;
}

#contL {
	position: center;
	float: left;
	width: 60%;
}

#article {
	text-align: center;
	align: center;
	position: relative;
	left: 10%;
	width: 80%;
	float: top;
}

#section {
	float: bottom;
	text-align: center;
	align: center;
	position: relative;
	left: 10%;
	width: 80%;
}

#aside {
	position: center;
	float: right;
	text-align: center;
	width: 40%;
}

#footer {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: blue;
}